<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLMVvTapNijzSHYfT0PI4x0pySU_-5woc</string>
	<key>GCM_SENDER_ID</key>
	<string>739597912068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dam2.marcos.actividad1</string>
	<key>PROJECT_ID</key>
	<string>actividad1-58fc9</string>
	<key>STORAGE_BUCKET</key>
	<string>actividad1-58fc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739597912068:ios:2ea8731b2ef14433844d51</string>
	<key>DATABASE_URL</key>
	<string>https://actividad1-58fc9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>